.App {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.Gallery {
  display: flex;
  flex-flow: column;
  align-items: center;
  row-gap: 8px;
}

.Profile {
  border: 1px solid #5c4a5a;
  border-radius: 4px;
  padding: 6px;
  background: #fff;
  margin-inline: 4px;
}
